apiVersion: cluster.k8s.io/v1alpha1
kind: MachineList
items:
# Worker machine
- apiVersion: "cluster.k8s.io/v1alpha1"
  kind: Machine
  metadata:
    generateName: my-exoscale-node-
    labels:
      cluster.k8s.io/cluster-name: my-exoscale-cluster
      set: node
  spec:
    providerSpec:
      value:
        apiVersion: exoscale.cluster.k8s.io/v1alpha1
        kind: ExoscaleMachineProviderSpec
        zone: de-fra-1
        template: "Linux Ubuntu 18.04 LTS 64-bit"
        type: medium
        disk: 50
    versions:
      kubelet: 1.13.3
