---
apiVersion: v1
kind: Service
metadata:
  labels:
    control-plane: controller-manager
    controller-tools.k8s.io: "1.0"
  name: controller-manager-service
spec:
  ports:
  - port: 443
  selector:
    control-plane: exoscale-controller-manager
    controller-tools.k8s.io: "1.0"
---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: controller-manager
  labels:
    control-plane: exoscale-controller-manager
    controller-tools.k8s.io: "1.0"
spec:
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: exoscale-cluster-api-controller-manager
        controller-tools.k8s.io: "1.0"
    spec:
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
      - key: CriticalAddonsOnly
        operator: Exists
      - effect: NoExecute
        key: node.alpha.kubernetes.io/notReady
        operator: Exists
      - effect: NoExecute
        key: node.alpha.kubernetes.io/unreachable
        operator: Exists
      containers:
      - name: exoscale-controller
        image: exoscale/cluster-api-provider-exoscale-controller:0.1.1
        imagePullPolicy: Always
        volumeMounts:
        - name: config
          mountPath: /etc/kubernetes
        - name: certs
          mountPath: /etc/ssl/certs
        - name: kubeadm
          mountPath: /usr/bin/kubeadm
        - name: tmp
          mountPath: /tmp
        resources:
          requests:
            cpu: 100m
            memory: 20Mi
          limits:
            cpu: 100m
            memory: 30Mi
        env:
          - name: POD_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          - name: EXOSCALE_API_KEY
            valueFrom:
              secretKeyRef:
                name: controller-secrets
                key: api-key
          - name: EXOSCALE_SECRET_KEY
            valueFrom:
              secretKeyRef:
                name: controller-secrets
                key: secret-key
          - name: EXOSCALE_COMPUTE_ENDPOINT
            valueFrom:
              secretKeyRef:
                name: controller-secrets
                key: compute-endpoint
      volumes:
      - name: config
        hostPath:
          path: /etc/kubernetes
      - name: certs
        hostPath:
          path: /etc/ssl/certs
      - name: kubeadm
        hostPath:
          path: /usr/bin/kubeadm
      - name: tmp
        hostPath:
          path: /tmp
