apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  labels:
    controller-tools.k8s.io: "1.0"
  name: exoscalemachineproviderspecs.exoscale.cluster.k8s.io
spec:
  group: exoscale.cluster.k8s.io
  names:
    kind: ExoscaleMachineProviderSpec
    plural: exoscalemachineproviderspecs
  scope: Namespaced
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          type: string
        kind:
          type: string
        metadata:
          type: object
        spec:
          properties:
            disk:
              format: int64
              type: integer
            sshkey:
              type: string
            template:
              type: string
            type:
              type: string
            zone:
              type: string
          required:
          - zone
          - template
          - type
          - disk
          - sshkey
          type: object
        status:
          properties:
            disk:
              format: int64
              type: integer
            sshkey:
              type: string
            template:
              type: string
            type:
              type: string
            zone:
              type: string
          required:
          - zone
          - template
          - type
          - disk
          - sshkey
          type: object
  version: v1alpha1
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
